@model List<BrauerNet.Models.Project>
@using BrauerNet.Models;

@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects on BrauerNet</h2>
<hr />
@if (Model.Count > 0)
{
    @foreach (var project in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>@Html.DisplayFor(modelItem => project.Name)</h3>
                        <h4>@Html.ActionLink("Details", "Details", new { id = project.ProjectId })</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            @for (var i = 0; i < 3; i++)
                            {
                                <li>@Html.DisplayFor(gp => project.GoalProjects[i].Goal.Description)</li>
                            }
                        </ul>
			        
                    </div>
                </div>
            </div>
        </div>
    }
}

<h2>
    @Html.ActionLink("Create Project", "Create", "Projects")
</h2>
<h2>
    @Html.ActionLink("Create Participant", "Create", "Participants")
</h2>
<h2>
    @Html.ActionLink("Create Stakeholder", "Create", "Stakeholders")
</h2>
<h2>
    @Html.ActionLink("Create Standard", "Create", "Standards")
</h2>