@model List<BrauerNet.Models.Stakeholder>

@{
    ViewData["Title"] = "Stakeholder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stakeholders on BrauerNet</h2>
<hr />
@if (Model.Count > 0)
{
    @foreach (var stakeholder in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>@Html.DisplayFor(modelItem => stakeholder.Name)</h3>
                        <h3>@Html.DisplayFor(modelItem => stakeholder.Role)</h3>
                    </div>
                    <div class="panel-body">
                        <h5>@Html.ActionLink("Details", "Details", new { id = stakeholder.StakeholderId })</h5>
                        <h5>@Html.ActionLink("Edit", "Edit", new { id = stakeholder.StakeholderId })</h5>			        
                    </div>
                </div>
            </div>
        </div>
    }
}

<h2>
    @Html.ActionLink("Create Project", "Create", "Projects")
</h2>
<h2>
    @Html.ActionLink("Create Participant", "Register", "Participants")
</h2>
<h2>
    @Html.ActionLink("Create Stakeholder", "Create", "Stakeholders")
</h2>
<h2>
    @Html.ActionLink("Create Standard", "Create", "Standards")
</h2>