@model List<BrauerNet.Models.Team>

@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teams on BrauerNet</h2>
<hr />
@if (Model.Count > 1)
{
    @foreach (var team in Model)
    {
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>@Html.DisplayFor(modelItem => team.Name)</h3>
                    </div>
                    <div class="panel-body">
                        			        
                    </div>
                </div>
            </div>
        </div>
    }
}

<h2>
    @Html.ActionLink("Create Project", "Create", "Projects")
</h2>
<h2>
    @Html.ActionLink("Create Participant", "Create", "Participants")
</h2>
<h2>
    @Html.ActionLink("Create Stakeholder", "Create", "Stakeholders")
</h2>
<h2>
    @Html.ActionLink("Create Standard", "Create", "Standards")
</h2>